@model Ecommerce.Models.ViewModels.OrderConfirmationViewModel

<h2>Order Confirmation</h2>

<p><strong>Order ID:</strong> @Model.OrderId</p>
<p><strong>Name:</strong> @Model.CustomerName</p>
<p><strong>Delivery Address:</strong> @Model.DeliveryAddress</p>
<p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
<p><strong>Total Amount:</strong> @Model.TotalAmount $</p>
